.box_component {
  background-color: white;
  width: 350px;
  border-radius: 15px;
  text-align: center;
  padding: 10px 30px 30px 30px;
}

.login__text {
  margin-bottom: 40px;
}

.login_button {
  background-image: linear-gradient(to right bottom, #302174, #40207b, #501c82, #611688, #72098c);
  width: 150px;
  padding: 7px;
}

.sign_up__button {
  cursor: pointer;
}
