.asset_title {
  text-align: center;
}

.form__container {
  display: flex;
  flex-direction: column;
  width: 350px;
}

.text_field {
  margin: 20px 40px;
}

.submit_button_container {
  display: flex;
  justify-content: center;
}

.submit_button {
  margin-bottom: 30px;
  max-width: 100px;
  background-image: linear-gradient(to right bottom, #302174, #40207b, #501c82, #611688, #72098c);
}
