.text_field__input {
  margin-bottom: 20px;
  display: flex;
  background: #F2F5F6;
  border: 1px solid rgba(68, 68, 68, 0.5);
  border-radius: 5px;
  padding-left: 5px;
}

.input{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  background: #F2F5F6;
  border-radius: 12px 0 0 12px;
  height: 48px;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
