html {
  background-image: linear-gradient(to right bottom, #302174, #40207b, #501c82, #611688, #72098c);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  font-family: 'Poppins', sans-serif !important;
  font-style: normal !important;
  min-height: 100vh;
  min-width: 100vw;
}
